<!-- JS Global Compulsory -->
  <script src="/themes/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/themes/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/themes/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/themes/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/themes/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/themes/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/themes/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/themes/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

  <!-- JS Front -->
  <script src="/themes/js/hs.core.js"></script>
  <script src="/themes/js/components/hs.header.js"></script>
  <script src="/themes/js/components/hs.unfold.js"></script>
  <script src="/themes/js/components/hs.malihu-scrollbar.js"></script>
  <script src="/themes/js/components/hs.validation.js"></script>
  <script src="/themes/js/helpers/hs.focus-state.js"></script>
  <script src="/themes/js/components/hs.show-animation.js"></script>
  <script src="/themes/js/components/hs.cubeportfolio.js"></script>
  <script src="/themes/js/components/hs.go-to.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 768,
        hideTimeOut: 0
      });
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#password'
          }
        }
      });

      // initialization of forms
      $.HSCore.helpers.HSFocusState.init();

      // initialization of cubeportfolio
      $.HSCore.components.HSCubeportfolio.init('.cbp');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>