  <!-- ========== FOOTER ========== -->
  <footer>
    <!-- Lists -->
    <div class="container u-space-2">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>About</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="../pages/about-agency.html">Agency</a>
            </li>
            <li>
              <a class="u-list__link" href="../pages/about-start-up.html">Start-Up</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Business</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Services</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="../pages/services-agency.html">Agency</a>
            </li>
            <li>
              <a class="u-list__link" href="../pages/services-start-up.html">Start-Up</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Business</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Account</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="#">Profile</a>
            </li>
            <li>
              <a class="u-list__link" href="#">User Contacts</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Projects</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-md-6 col-lg-4">
          <h3 class="h6 mb-4">
            <strong>We are driven to deliver results on your mobile phones.</strong>
          </h3>

          {{!-- <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <span class="fab fa-apple font-size-26"></span>
              </span>
              <span class="media-body">
                <span class="d-block">Download on the</span>
                <strong class="font-size-14">App Store</strong>
              </span>
            </span>
          </button>
          <!-- End Button --> --}}

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <img src="/images/google_play.png" style="width:25px; height:25px">
              </span>
              <span class="media-body">
                <span class="d-block">Get it on</span>
                <strong class="font-size-14">Google Play</strong>
              </span>
            </span>
          </button>
          <!-- End Button -->
        </div>
      </div>
    </div>
    <!-- End Lists -->

    <hr>

    <!-- Copyright -->
    <div class="container text-center u-space-1">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="../home/index.html" aria-label="Front">
        <img src="/images/logo50x50.png" alt="Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <p class="small text-muted"> Next Generation Classroom: Providing the Ultimate Learning and Competitive Experience </p>
    </div>
    <!-- End Copyright -->




  </footer>
  <!-- ========== END FOOTER ========== -->