  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md" data-header-fix-moment="500" data-header-fix-effect="slide">



    
    <div class="u-header__section">

      <!-- Topbar -->
      <div class="container u-header__hide-content pt-2">
        <div class="d-flex align-items-center mb-0">
          
          <div class="ml-auto">
            <!-- Jump To -->
            <div class="d-inline-block d-sm-none position-relative mr-2">
              <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="jumpToDropdown"
                aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#jumpToDropdown" data-unfold-type="css-animation"
                data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
                data-unfold-animation-out="fadeOut">
                Jump to
                <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
              </a>

              <div id="jumpToDropdown" class="u-unfold mt-2" aria-labelledby="jumpToDropdownInvoker">
                <a class="u-list__link" href="../pages/help.html">Become Educator</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Guide Students</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Internship</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Write A Review</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Contact us</a>
              </div>
            </div>
            <!-- End Jump To -->

            <!-- Links -->
            <div class="d-none d-sm-inline-block ml-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Become Educator</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Guide Students</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Internship</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Write A Review</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/contacts-agency.html">Contacts</a>
                </li>
              </ul>
            </div>
            <!-- End Links -->
          </div>

          <ul class="list-inline ml-2 mb-0">

            <!-- Shopping Cart -->
            <li class="list-inline-item position-relative">
              <a id="shoppingCartDropdownInvoker" class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
                aria-controls="shoppingCartDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#shoppingCartDropdown"
                data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true"
                data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                <span class="fa fa-bell-o u-btn--icon__inner"></span>
              </a>

              <div id="shoppingCartDropdown" class="text-center u-unfold right-0 p-7 mt-2" aria-labelledby="shoppingCartDropdownInvoker"
                style="min-width: 250px;">
                <span class="u-shopping-cart-icon mb-4">
                  <span class="fa fa-shopping-basket u-shopping-cart-icon__inner"></span>
                </span>
                <span class="d-block">Your Cart is Empty</span>
              </div>
            </li>
            <!-- End Shopping Cart -->

            <!-- Account Login -->
            <li class="list-inline-item">
              <!-- Account Sidebar Toggle Button -->
              <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler" href="javascript:;" role="button"
                aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight"
                data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                <span class="fa fa-user-circle u-btn--icon__inner font-size-14"></span>
              </a>
              <!-- End Account Sidebar Toggle Button -->
            </li>
            <!-- End Account Login -->
          </ul>
        </div>
      </div>
      <!-- End Topbar -->



      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="../home/index.html" aria-label="Front">
            <img src="/images/logo50x50.png" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
            data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">


            <!-- Courses -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Courses
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/themes/img/750x750/img1.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2"> </strong>
                            <span class="u-header__banner-v1-text">
                              <b> Live as if you were to die tomorrow. Learn as if you were to live forever </b> -
                              <i> Mahatma Gandhi </i>
                            </span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="#">Browse Courses
                            <span class="fa fa-angle-right ml-2"></span>
                          </a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Programming</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html">C Programming</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html">Java Programming</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">Python Programing</a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          <strong class="d-block mb-2">Web Technologies</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-agency.html">HTML</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">CSS</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-business.html">Bootstrap
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">Javascript</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">CSS Animation
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Links -->
                        </div>

                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Competitive</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">NEET
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">JEE Mains
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">SSC
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Aptitude
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 12 Science
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 12 Commerce
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 11 Science
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 11 Commerce
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          {{!--
                          <strong class="d-block mb-2">Blog</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-agency.html">Blog Agency</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-start-up.html">Blog Start-Up</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-business.html">Blog Business</a>
                            </li>
                          </ul> --}}
                          <!-- End Links -->



                          {{!--
                          <strong class="d-block mb-2">Portfolio</strong>

                          <!-- Links -->
                          <ul class="list-unstyled u-list">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/portfolio-agency.html">Portfolio Agency</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/portfolio-profile.html">Portfolio Profile</a>
                            </li>
                          </ul> --}}




                          <!-- End Links -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Courses -->



              <!-- Colleges -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Colleges
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/themes/img/750x750/img1.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2"> </strong>
                            <span class="u-header__banner-v1-text">
                              <b> Live as if you were to die tomorrow. Learn as if you were to live forever </b> -
                              <i> Mahatma Gandhi </i>
                            </span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="#">Browse All Colleges
                            <span class="fa fa-angle-right ml-2"></span>
                          </a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Top Medical Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          <strong class="d-block mb-2">Top Commerce Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                          </ul>
                          <!-- End Links -->
                        </div>

                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Top Engineering Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>

                          </ul>



                          <strong class="d-block mb-2">Top Management Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>

                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Colleges -->

              <!-- Works -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="right">
                <a id="worksMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Coaching Institutes
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Works - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu u-header__mega-menu-wrapper-v1" aria-labelledby="worksMegaMenu">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                      <strong class="d-block mb-2">Medical Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-classic.html">Portfolio Classic</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-grid.html">Portfolio Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-masonry.html">Portfolio Masonry</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-modern.html">Portfolio Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                      <strong class="d-block mb-2">Engineering Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-classic.html">Portfolio Classic</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-grid.html">Portfolio Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-masonry.html">Portfolio Masonry</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-modern.html">Portfolio Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                      <strong class="d-block mb-2">Management Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-simple.html">Single Page Simple</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-grid.html">Single Page Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-masonry.html">Single Page Masonry</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3">
                      <strong class="d-block mb-2">Other</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="case-studies-simple.html">Case Studies Simple</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="case-studies-modern.html">Case Studies Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>
                  </div>
                </div>
                <!-- End Works - Mega Menu -->
              </li>
              <!-- End Works -->


              <!-- Forum -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-max-width="440px" data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Forums
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Shop - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">
                    <strong class="d-block mb-2"> Top Forums </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> Education Forum </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/cart.html"> Public Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>

                  <!-- Mega Menu Banner -->
                  {{!--
                  <div class="d-none d-md-block u-header__banner-v2 pr-4">
                    <div class="d-flex align-items-end">
                      <img class="img-fluid mr-4" src="/themes/img/mockups/img4.png" alt="Image Description" style="width: 200px;">
                      <div class="py-4">
                        <div class="mb-4">
                          <strong class="d-block u-header__banner-v2-title mb-2">Win T-shirt</strong>
                          <span class="d-block u-header__banner-v2-text">Win one of our Front brand T-shirts.</span>
                        </div>
                        <a class="btn btn-sm u-btn-primary--air transition-3d-hover" href="../shop/classic.html">Learn More
                          <span class="fa fa-angle-right ml-2"></span>
                        </a>
                      </div>
                    </div>
                  </div> --}}
                  <!-- End Mega Menu Banner -->
                </div>
                <!-- End Shop - Mega Menu -->







              </li>
              <!-- End Forum -->







              <!-- Counselling -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-max-width="440px" data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Admission Counselling
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Shop - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">
                    <strong class="d-block mb-2"> Previous Counselling Results </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> UPSEE </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>


                    <strong class="d-block mb-2"> Ongoing Counselling Results </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> UPSEE </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>

                </div>
                <!-- End Shop - Mega Menu -->
              </li>
              <!-- End Counselling -->



              <!-- Button -->
              <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="/" target="_blank">
                  Join Now
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->