<!-- Favicon -->
  {{!--
  <link rel="shortcut icon" href="../../favicon.ico"> --}}

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/themes/vendor/bootstrap/css/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/themes/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/themes/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/themes/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/themes/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/themes/vendor/cubeportfolio/css/cubeportfolio.min.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/themes/css/front.css">