<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{> metatags}} {{> header_links}}
    <style>
        @media screen and (max-width: 650px) {
            .space-from-top {
                height: 40px;
                width: 100%;
            }
        }
        @media screen and (min-width: 650px) {
            .space-from-top {
                height: 130px;
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <header>
        {{> header}}
    </header>
    <div class="space-from-top"></div>
    <main id="content" role="main">
        {{{body}}}
    </main>
    <footer>
        {{> footer}} {{> footer_scripts}}
    </footer>
</body>

</html>