<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/themes/vendor/bootstrap/css/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/themes/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/themes/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/themes/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/themes/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/themes/vendor/cubeportfolio/css/cubeportfolio.min.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/themes/css/front.css">



{{!-- 

<figure class="w-100 w-md-75 w-lg-50 position-absolute-top-left-0 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 919" style="enable-background:new 0 0 900 919;" xml:space="preserve">
          <linearGradient id="heroPathID1" gradientUnits="userSpaceOnUse" x1="0" y1="501" x2="599" y2="501">
            <stop class="u-stop-color-midnightblue" offset="7.500810e-08"></stop>
            <stop class="u-stop-color-primary" offset="1"></stop>
          </linearGradient>
          <path fill="url(#heroPathID1)" d="M599,83c0,0-552.6,361-597.8,836L0,486.3C0,486.3,232.6,170,599,83z"></path>
          <path class="u-fill-danger" d="M1,919c0,0,164.2-790,683-919H229.8C229.8,0,1,257,1,577V919z"></path>
          <linearGradient id="heroPathID2" gradientUnits="userSpaceOnUse" x1="0" y1="196.5" x2="900" y2="196.5">
            <stop class="u-stop-color-midnightblue" offset="0"></stop>
            <stop class="u-stop-color-primary" offset="1"></stop>
          </linearGradient>
          <path fill="url(#heroPathID2)" d="M197,393c0,0,254-343,703-393H0L197,393z"></path>
          <linearGradient id="heroPathID3" gradientUnits="userSpaceOnUse" x1="0.5" y1="310.75" x2="562.3972" y2="310.75">
            <stop class="u-stop-color-midnightblue" offset="0"></stop>
            <stop class="u-stop-color-primary" offset="1"></stop>
          </linearGradient>
          <path fill="url(#heroPathID3)" d="M0.5,0.5V621c0,0,190.7-441.2,561.9-620.5H0.5z"></path>
        </svg>
      </figure>








      <figure class="position-absolute-bottom-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
          <path class="u-fill-primary" opacity=".075" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
          <path class="u-fill-primary" opacity=".075" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
          <path class="u-fill-primary" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z"></path>
          <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
        </svg>
      </figure>


 --}}

{{!-- 


      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 126.5"
              style="margin-bottom: -5px; enable-background:new 0 0 300 126.5;" xml:space="preserve">
              <path class="u-fill-primary" opacity=".6" d="M0,58.9c0-0.9,5.1-2,5.8-2.2c6-0.8,11.8,2.2,17.2,4.6c4.5,2.1,8.6,5.3,13.3,7.1C48.2,73.3,61,73.8,73,69
                c43-16.9,40-7.9,84-2.2c44,5.7,83-31.5,143-10.1v69.8H0C0,126.5,0,59,0,58.9z" />
              <path class="u-fill-danger" d="M300,68.5v58H0v-58c0,0,43-16.7,82,5.6c12.4,7.1,26.5,9.6,40.2,5.9c7.5-2.1,14.5-6.1,20.9-11
                c6.2-4.7,12-10.4,18.8-13.8c7.3-3.8,15.6-5.2,23.6-5.2c16.1,0.1,30.7,8.2,45,16.1c13.4,7.4,28.1,12.2,43.3,11.2
                C282.5,76.7,292.7,74.4,300,68.5z" />
              <circle class="u-fill-success" cx="259.5" cy="17" r="13" />
              <circle class="u-fill-danger" cx="290" cy="35.5" r="8.5" />
              <circle class="u-fill-primary" cx="288" cy="5.5" r="5.5" />
              <circle class="u-fill-warning" cx="232.5" cy="34" r="2" />
              <circle class="u-fill-warning" cx="222.5" cy="24" r="2" />
              <circle class="u-fill-warning" cx="212.5" cy="44" r="2" />
              <circle class="u-fill-warning" cx="242.5" cy="30" r="2" />
            </svg>




             --}}











<div class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute-top-right-0 pr-0" style="margin-top: 105.6px;">
        <figure class="w-100">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
            <path class="u-fill-primary" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
              c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
            <g>
              <defs>
                <path id="heroBlock1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                  l449.3-373.4V0z"></path>
              </defs>
              <clipPath id="heroBlock2">
                <use xlink:href="#heroBlock1" style="overflow:visible;"></use>
              </clipPath>
              <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#heroBlock2);">
                <!-- Apply your (750px width to 750px height) image here -->
                <image style="overflow:visible;" width="750" height="750" xlink:href="../../assets/img/750x750/img2.html" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
              </g>
            </g>
          </svg>
        </figure>
      </div>