<div class="w-lg-80 mx-auto">
    <!-- Contacts Form -->
    <form class="js-validate" novalidate="novalidate">
        <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
                <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                        Title (short)
                        <span class="text-danger">*</span>
                    </label>

                    <div class="js-focus-state input-group u-form">
                        <input class="form-control u-form__input" type="text" name="name" required="" placeholder="I got 535 marks in NEET 2018. Which college can I get ?" aria-label="I got 535 marks in NEET 2018. Which college can I get ?"
                            data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                </div>
            </div>
            <!-- End Input -->

            <div class="w-100"></div>

            <!-- Input -->
            <div class="col-sm-6 mb-6">
                <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                        Your Question (description)
                        <span class="text-danger">*</span>
                    </label>

                    <div class="js-focus-state input-group u-form">
                        <input class="form-control u-form__input" type="text" name="subject" required="" placeholder="Web design" aria-label="Web design"
                            data-msg="Please enter a subject." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
                <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                        Your Phone Number
                        <span class="text-danger">*</span>
                    </label>

                    <div class="js-focus-state input-group u-form">
                        <input class="form-control u-form__input" type="number" name="phone" required="" placeholder="1-800-643-4500" aria-label="1-800-643-4500"
                            data-msg="Please enter a valid phone number." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                </div>
            </div>
            <!-- End Input -->


            <!-- Input -->
            <div class="col-sm-6 mb-6">
                <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                        For Which Forum does Your Question Belongs
                        <span class="text-danger">*</span>
                    </label>

                    <div class="js-focus-state input-group u-form">
                        <input class="form-control u-form__input" type="number" name="phone" required="" placeholder="1-800-643-4500" aria-label="1-800-643-4500"
                            data-msg="Please enter a valid phone number." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                </div>
            </div>
            <!-- End Input -->
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4">Submit</button>
            <p class="small"> Your Question will be posted in Specified Forum as well as in Public Forum. Feel free to ask any ethical Questions. </p>
        </div>
    </form>
    <!-- End Contacts Form -->
</div>