<!DOCTYPE html>
<html lang="en">



<head>
  <!-- Title -->
  <title> Portfolio - Boxed Grid | Front - Responsive Website Template </title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  {{!--
  <link rel="shortcut icon" href="../../favicon.ico"> --}}

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/themes/vendor/bootstrap/css/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/themes/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/themes/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/themes/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/themes/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/themes/vendor/cubeportfolio/css/cubeportfolio.min.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/themes/css/front.css">
</head>




































<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->
















  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md" data-header-fix-moment="500" data-header-fix-effect="slide">



    
    <div class="u-header__section">

      <!-- Topbar -->
      <div class="container u-header__hide-content pt-2">
        <div class="d-flex align-items-center mb-0">
          
          <div class="ml-auto">
            <!-- Jump To -->
            <div class="d-inline-block d-sm-none position-relative mr-2">
              <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="jumpToDropdown"
                aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#jumpToDropdown" data-unfold-type="css-animation"
                data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
                data-unfold-animation-out="fadeOut">
                Jump to
                <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
              </a>

              <div id="jumpToDropdown" class="u-unfold mt-2" aria-labelledby="jumpToDropdownInvoker">
                <a class="u-list__link" href="../pages/help.html">Become Educator</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Guide Students</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Internship</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Write A Review</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Contact us</a>
              </div>
            </div>
            <!-- End Jump To -->

            <!-- Links -->
            <div class="d-none d-sm-inline-block ml-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Become Educator</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Guide Students</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Internship</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Write A Review</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/contacts-agency.html">Contacts</a>
                </li>
              </ul>
            </div>
            <!-- End Links -->
          </div>

          <ul class="list-inline ml-2 mb-0">

            <!-- Shopping Cart -->
            <li class="list-inline-item position-relative">
              <a id="shoppingCartDropdownInvoker" class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
                aria-controls="shoppingCartDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#shoppingCartDropdown"
                data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true"
                data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                <span class="fa fa-bell-o u-btn--icon__inner"></span>
              </a>

              <div id="shoppingCartDropdown" class="text-center u-unfold right-0 p-7 mt-2" aria-labelledby="shoppingCartDropdownInvoker"
                style="min-width: 250px;">
                <span class="u-shopping-cart-icon mb-4">
                  <span class="fa fa-shopping-basket u-shopping-cart-icon__inner"></span>
                </span>
                <span class="d-block">Your Cart is Empty</span>
              </div>
            </li>
            <!-- End Shopping Cart -->

            <!-- Account Login -->
            <li class="list-inline-item">
              <!-- Account Sidebar Toggle Button -->
              <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler" href="javascript:;" role="button"
                aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight"
                data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                <span class="fa fa-user-circle u-btn--icon__inner font-size-14"></span>
              </a>
              <!-- End Account Sidebar Toggle Button -->
            </li>
            <!-- End Account Login -->
          </ul>
        </div>
      </div>
      <!-- End Topbar -->



      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="../home/index.html" aria-label="Front">
            <img src="/images/logo50x50.png" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
            data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">


            <!-- Courses -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Courses
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/themes/img/750x750/img1.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2"> </strong>
                            <span class="u-header__banner-v1-text">
                              <b> Live as if you were to die tomorrow. Learn as if you were to live forever </b> -
                              <i> Mahatma Gandhi </i>
                            </span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="#">Browse Courses
                            <span class="fa fa-angle-right ml-2"></span>
                          </a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Programming</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html">C Programming</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html">Java Programming</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">Python Programing</a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          <strong class="d-block mb-2">Web Technologies</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-agency.html">HTML</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">CSS</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-business.html">Bootstrap
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">Javascript</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/corporate-start-up.html">CSS Animation
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Links -->
                        </div>

                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Competitive</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">NEET
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">JEE Mains
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">SSC
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Aptitude
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 12 Science
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 12 Commerce
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 11 Science
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-job.html">Class 11 Commerce
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          {{!--
                          <strong class="d-block mb-2">Blog</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-agency.html">Blog Agency</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-start-up.html">Blog Start-Up</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/blog-business.html">Blog Business</a>
                            </li>
                          </ul> --}}
                          <!-- End Links -->



                          {{!--
                          <strong class="d-block mb-2">Portfolio</strong>

                          <!-- Links -->
                          <ul class="list-unstyled u-list">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/portfolio-agency.html">Portfolio Agency</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/portfolio-profile.html">Portfolio Profile</a>
                            </li>
                          </ul> --}}




                          <!-- End Links -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Courses -->



              <!-- Colleges -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Colleges
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/themes/img/750x750/img1.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2"> </strong>
                            <span class="u-header__banner-v1-text">
                              <b> Live as if you were to die tomorrow. Learn as if you were to live forever </b> -
                              <i> Mahatma Gandhi </i>
                            </span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="#">Browse All Colleges
                            <span class="fa fa-angle-right ml-2"></span>
                          </a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Top Medical Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                          </ul>
                          <!-- End Links -->

                          <strong class="d-block mb-2">Top Commerce Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/index.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-crypto.html"> AIIMS Delhi </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/classic-business.html">AIIMS Delhi</a>
                            </li>
                          </ul>
                          <!-- End Links -->
                        </div>

                        <div class="col-sm-6">
                          <strong class="d-block mb-2">Top Engineering Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIT Mumbai
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>

                          </ul>



                          <strong class="d-block mb-2">Top Management Colleges</strong>

                          <!-- Links -->
                          <ul class="list-unstyled mb-4">
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>
                            <li>
                              <a class="nav-link u-list__link py-2 px-0" href="../home/landing-house.html">IIM Ahmedabad
                                <span class="badge badge-success ml-1">New</span>
                              </a>
                            </li>

                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Colleges -->

              <!-- Works -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-position="right">
                <a id="worksMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Coaching Institutes
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Works - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu u-header__mega-menu-wrapper-v1" aria-labelledby="worksMegaMenu">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                      <strong class="d-block mb-2">Medical Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-classic.html">Portfolio Classic</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-grid.html">Portfolio Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-masonry.html">Portfolio Masonry</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="boxed-modern.html">Portfolio Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                      <strong class="d-block mb-2">Engineering Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-classic.html">Portfolio Classic</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-grid.html">Portfolio Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-masonry.html">Portfolio Masonry</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="fullwidth-modern.html">Portfolio Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                      <strong class="d-block mb-2">Management Coaching</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-simple.html">Single Page Simple</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-grid.html">Single Page Grid</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="single-page-masonry.html">Single Page Masonry</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>

                    <div class="col-sm-6 col-lg-3">
                      <strong class="d-block mb-2">Other</strong>

                      <!-- Links -->
                      <ul class="list-unstyled u-list">
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="case-studies-simple.html">Case Studies Simple</a>
                        </li>
                        <li>
                          <a class="nav-link u-list__link py-2 px-0" href="case-studies-modern.html">Case Studies Modern</a>
                        </li>
                      </ul>
                      <!-- End Links -->
                    </div>
                  </div>
                </div>
                <!-- End Works - Mega Menu -->
              </li>
              <!-- End Works -->


              <!-- Forum -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-max-width="440px" data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Forums
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Shop - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">
                    <strong class="d-block mb-2"> Top Forums </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> Education Forum </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/cart.html"> Public Forum </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>

                  <!-- Mega Menu Banner -->
                  {{!--
                  <div class="d-none d-md-block u-header__banner-v2 pr-4">
                    <div class="d-flex align-items-end">
                      <img class="img-fluid mr-4" src="/themes/img/mockups/img4.png" alt="Image Description" style="width: 200px;">
                      <div class="py-4">
                        <div class="mb-4">
                          <strong class="d-block u-header__banner-v2-title mb-2">Win T-shirt</strong>
                          <span class="d-block u-header__banner-v2-text">Win one of our Front brand T-shirts.</span>
                        </div>
                        <a class="btn btn-sm u-btn-primary--air transition-3d-hover" href="../shop/classic.html">Learn More
                          <span class="fa fa-angle-right ml-2"></span>
                        </a>
                      </div>
                    </div>
                  </div> --}}
                  <!-- End Mega Menu Banner -->
                </div>
                <!-- End Shop - Mega Menu -->







              </li>
              <!-- End Forum -->







              <!-- Counselling -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"
                data-max-width="440px" data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                  Admission Counselling
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Shop - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">
                    <strong class="d-block mb-2"> Previous Counselling Results </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> UPSEE </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>


                    <strong class="d-block mb-2"> Ongoing Counselling Results </strong>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/classic.html"> NEET </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/masonry.html"> JEE Mains </a>
                          </li>
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/single-product.html"> UPSEE </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li>
                            <a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html"> Other </a>
                          </li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>

                </div>
                <!-- End Shop - Mega Menu -->
              </li>
              <!-- End Counselling -->



              <!-- Button -->
              <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="/" target="_blank">
                  Join Now
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

















































  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="position-relative u-bg-light-blue-50 overflow-hidden">
      <div class="container position-relative u-space-4-top u-space-5-top--md u-space-4-bottom z-index-2">
        <div class="w-md-80 w-lg-60 text-center mx-auto">
          <h1 class="display-4 font-size-48--md-down text-primary">Portfolio
            <span class="font-weight-bold">classic</span>
          </h1>
          <p class="lead">Your portfolio should tell your story.</p>
        </div>
      </div>

      <!-- SVG Background Left Top Shape -->
      <figure class="w-100 w-md-75 w-lg-50 position-absolute-top-left-0 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 919"
          style="enable-background:new 0 0 900 919;" xml:space="preserve">
          <linearGradient id="heroPathID1" gradientUnits="userSpaceOnUse" x1="0" y1="501" x2="599" y2="501">
            <stop class="u-stop-color-midnightblue" offset="7.500810e-08" />
            <stop class="u-stop-color-primary" offset="1" />
          </linearGradient>
          <path fill="url(#heroPathID1)" d="M599,83c0,0-552.6,361-597.8,836L0,486.3C0,486.3,232.6,170,599,83z" />
          <path class="u-fill-danger" d="M1,919c0,0,164.2-790,683-919H229.8C229.8,0,1,257,1,577V919z" />
          <linearGradient id="heroPathID2" gradientUnits="userSpaceOnUse" x1="0" y1="196.5" x2="900" y2="196.5">
            <stop class="u-stop-color-midnightblue" offset="0" />
            <stop class="u-stop-color-primary" offset="1" />
          </linearGradient>
          <path fill="url(#heroPathID2)" d="M197,393c0,0,254-343,703-393H0L197,393z" />
          <linearGradient id="heroPathID3" gradientUnits="userSpaceOnUse" x1="0.5" y1="310.75" x2="562.3972" y2="310.75">
            <stop class="u-stop-color-midnightblue" offset="0" />
            <stop class="u-stop-color-primary" offset="1" />
          </linearGradient>
          <path fill="url(#heroPathID3)" d="M0.5,0.5V621c0,0,190.7-441.2,561.9-620.5H0.5z" />
        </svg>
      </figure>
      <!-- End SVG Background Left Top Shape -->

      <!-- SVG Background -->
      <figure class="position-absolute-bottom-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
          height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
          <path class="u-fill-primary" opacity=".075" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
          <path class="u-fill-primary" opacity=".075" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
          <path class="u-fill-primary" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z" />
          <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
        </svg>
      </figure>
      <!-- End SVG Background Section -->
    </div>
    <!-- End Hero Section -->


    <!-- SVG Background -->
    <figure class="position-absolute-bottom-0 z-index-2">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
        height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
        <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
        <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
        <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z" />
        <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
      </svg>
    </figure>
    <!-- End SVG Background Section -->












    <!--
      *
      *
      *
      *
      *
      *
      *
      *
      *
      *

      *
      *
      -->

    <div class="w-lg-80 mx-auto">
        <!-- Contacts Form -->
        <form class="js-validate" novalidate="novalidate">
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="h6 small d-block text-uppercase">
                  Your name
                  <span class="text-danger">*</span>
                </label>

                <div class="js-focus-state input-group u-form">
                  <input class="form-control u-form__input" type="text" name="name" required="" placeholder="Jack Wayley" aria-label="Jack Wayley" data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="h6 small d-block text-uppercase">
                  Your email address
                  <span class="text-danger">*</span>
                </label>

                <div class="js-focus-state input-group u-form">
                  <input class="form-control u-form__input" type="email" name="email" required="" placeholder="jackwayley@gmail.com" aria-label="jackwayley@gmail.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <div class="w-100"></div>

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="h6 small d-block text-uppercase">
                  Subject
                  <span class="text-danger">*</span>
                </label>

                <div class="js-focus-state input-group u-form">
                  <input class="form-control u-form__input" type="text" name="subject" required="" placeholder="Web design" aria-label="Web design" data-msg="Please enter a subject." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="h6 small d-block text-uppercase">
                  Your Phone Number
                  <span class="text-danger">*</span>
                </label>

                <div class="js-focus-state input-group u-form">
                  <input class="form-control u-form__input" type="number" name="phone" required="" placeholder="1-800-643-4500" aria-label="1-800-643-4500" data-msg="Please enter a valid phone number." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <!-- Input -->
          <div class="js-form-message mb-9">
            <label class="h6 small d-block text-uppercase">
              How can we help you?
              <span class="text-danger">*</span>
            </label>

            <div class="js-focus-state input-group u-form">
              <textarea class="form-control u-form__input" rows="4" name="text" required="" placeholder="Hi there, I would like to ..." aria-label="Hi there, I would like to ..." data-msg="Please enter a reason." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
            </div>
          </div>
          <!-- End Input -->

          <div class="text-center">
            <button type="submit" class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4">Submit</button>
            <p class="small">We'll get back to you in 1-2 business days.</p>
          </div>
        </form>
        <!-- End Contacts Form -->
      </div>
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  <footer>
    <!-- Lists -->
    <div class="container u-space-2">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>About</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="../pages/about-agency.html">Agency</a>
            </li>
            <li>
              <a class="u-list__link" href="../pages/about-start-up.html">Start-Up</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Business</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Services</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="../pages/services-agency.html">Agency</a>
            </li>
            <li>
              <a class="u-list__link" href="../pages/services-start-up.html">Start-Up</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Business</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong>Account</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li>
              <a class="u-list__link" href="#">Profile</a>
            </li>
            <li>
              <a class="u-list__link" href="#">User Contacts</a>
            </li>
            <li>
              <a class="u-list__link" href="#">Projects</a>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-md-6 col-lg-4">
          <h3 class="h6 mb-4">
            <strong>We are driven to deliver results on your mobile phones.</strong>
          </h3>

          {{!-- <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <span class="fab fa-apple font-size-26"></span>
              </span>
              <span class="media-body">
                <span class="d-block">Download on the</span>
                <strong class="font-size-14">App Store</strong>
              </span>
            </span>
          </button>
          <!-- End Button --> --}}

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark u-btn-dark u-btn-wide transition-3d-hover text-left mb-2">
            <span class="media align-items-center">
              <span class="d-flex mr-3">
                <img src="/images/google_play.png" style="width:25px; height:25px">
              </span>
              <span class="media-body">
                <span class="d-block">Get it on</span>
                <strong class="font-size-14">Google Play</strong>
              </span>
            </span>
          </button>
          <!-- End Button -->
        </div>
      </div>
    </div>
    <!-- End Lists -->

    <hr>

    <!-- Copyright -->
    <div class="container text-center u-space-1">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="../home/index.html" aria-label="Front">
        <img src="/images/logo50x50.png" alt="Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <p class="small text-muted"> Next Generation Classroom: Providing the Ultimate Learning and Competitive Experience </p>
    </div>
    <!-- End Copyright -->




  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Account Sidebar Navigation -->
  <aside id="sidebarContent" class="u-sidebar u-unfold--css-animation u-unfold--hidden" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <!-- Toggle Button -->
          <div class="d-flex align-items-center pt-4 px-7">
            <button type="button" class="close ml-auto" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
              data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight"
              data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="js-validate">
                <!-- Login -->
                <div id="login" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome Back!</h2>
                    <p>Login to manage your account.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-user u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="email" class="form-control u-form__input" name="email" required placeholder="Email" aria-label="Email" data-msg="Please enter a valid email address."
                        data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-2">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-lock u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" name="password" required placeholder="Password" aria-label="Password"
                        data-msg="Your password is invalid. Please try again." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="clearfix mb-4">
                    <a class="js-animation-link float-right small u-link-muted" href="javascript:;" data-target="#forgotPassword" data-link-group="idForm"
                      data-animation-in="slideInUp">Forgot Password?</a>
                  </div>

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">Login</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Do not have an account?</span>
                    <a class="js-animation-link small" href="javascript:;" data-target="#signup" data-link-group="idForm" data-animation-in="slideInUp">Signup
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm u-btn-facebook--air transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm u-btn-google--air transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome to Front.</h2>
                    <p>Fill out the form to get started.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-user u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="email" class="form-control u-form__input" name="email" required placeholder="Email" aria-label="Email" data-msg="Please enter a valid email address."
                        data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-lock u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" name="password" required placeholder="Password" aria-label="Password"
                        data-msg="Your password is invalid. Please try again." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-key u-form__text-inner"></span>
                        </span>
                      </div>
                      <input type="password" class="form-control u-form__input" name="confirmPassword" required placeholder="Confirm Password"
                        aria-label="Confirm Password" data-msg="Password does not match the confirm password." data-error-class="u-has-error"
                        data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">Get Started</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Already have an account?</span>
                    <a class="js-animation-link small" href="javascript:;" data-target="#login" data-link-group="idForm" data-animation-in="slideInUp">Login
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm u-btn-facebook--air transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm u-btn-google--air transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Recover Password.</h2>
                    <p>Enter your email address and an email with instructions will be sent to you.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Input -->
                  <div class="js-form-message mb-4">
                    <div class="js-focus-state input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fas fa-envelope u-inner-form__text"></span>
                        </span>
                      </div>
                      <input type="email" class="form-control u-form__input" name="email" required placeholder="Your email" aria-label="Your email"
                        data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">Recover Password</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Remember your password?</span>
                    <a class="js-animation-link small" href="javascript:;" data-target="#login" data-link-group="idForm" data-animation-in="slideInUp">Login
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>







/*
****************************************************************************************
****************************************************************************************
****************************************************************************************
****************************************************************************************
*/


<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1795px; transform: translate3d(-718px, 0px, 0px);"><a class="js-slide u-bg-img-hero u-gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4 slick-slide" href="../blog/single-article-classic.html" style="background-image: url(&quot;../../assets/img/400x500/img1.jpg&quot;); width: 327px;" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" data-slick-index="0" aria-hidden="true">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">How to make trust your competitive advantage</h3>
              <div class="mt-4">
                <strong class="d-block u-text-light mb-2">Neyton Burchie</strong>
                <img class="img-fluid u-sm-avatar rounded-circle mx-auto" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              </div>
            </article>
          </a><div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4 slick-slide" style="width: 327px;" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" data-slick-index="1" aria-hidden="true">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">" How to help your team excel at remote collaboration. Here are tips and tools we use on the content team at InVision to keep our remote collaboration game strong. Trust is both a complex and nuanced topic. Its very nature makes it difficult to tackle through direct effort. "</h3>
              <div class="my-4">
                <strong class="d-block mb-2">Keith Margaret</strong>
                <img class="img-fluid u-sm-avatar rounded-circle mx-auto" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
              <a class="btn btn-sm u-btn-primary--air u-btn-wide transition-3d-hover" href="../blog/single-article-classic.html" tabindex="-1">Read More</a>
            </article>
          </div><a class="js-slide u-bg-img-hero u-gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4 slick-slide slick-current slick-active" href="../blog/single-article-classic.html" style="background-image: url(&quot;../../assets/img/400x500/img2.jpg&quot;); width: 327px;" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" data-slick-index="2" aria-hidden="false">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">Remote workers, here's how to dodge distractions</h3>
              <div class="mt-4">
                <strong class="d-block u-text-light mb-2">Tina Krueger</strong>
                <img class="img-fluid u-sm-avatar rounded-circle mx-auto" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
              </div>
            </article>
          </a><div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4 slick-slide slick-active" style="width: 327px;" tabindex="0" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" data-slick-index="3" aria-hidden="false">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">" 4 salary negotiation mistakes you've probably made. Four years ago, I was making $25 per hour as a freelance digital designer building ecommerce sites. I had no idea how to increase my hourly rate, even if I'd wanted to. "</h3>
              <div class="my-4">
                <strong class="d-block mb-2">Neyton Burchie</strong>
                <img class="img-fluid u-sm-avatar rounded-circle mx-auto" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              </div>
              <a class="btn btn-sm u-btn-primary--air u-btn-wide transition-3d-hover" href="../blog/single-article-classic.html" tabindex="0">Read More</a>
            </article>
          </div><a class="js-slide u-bg-img-hero u-gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4 slick-slide slick-active" href="../blog/single-article-classic.html" style="background-image: url(&quot;../../assets/img/400x500/img3.jpg&quot;); width: 327px;" tabindex="0" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control04" data-slick-index="4" aria-hidden="false">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">Steal these ideas to stay happy and productive</h3>
              <div class="mt-4">
                <strong class="d-block u-text-light mb-2">Liza Nelson</strong>
                <img class="img-fluid u-sm-avatar rounded-circle mx-auto" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
              </div>
            </article>
          </a></div></div>



























































        <!-- Footer -->
        <footer class="u-sidebar__footer u-sidebar__footer--account">
          <ul class="list-inline mb-0">
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/privacy.html">Privacy</a>
            </li>
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/terms.html">Terms</a>
            </li>
            <li class="list-inline-item">
              <a class="u-sidebar__footer--account__text" href="../pages/help.html">
                <i class="fa fa-info-circle"></i>
              </a>
            </li>
          </ul>

          <!-- SVG Background Shape -->
          <div class="position-absolute-bottom-0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 126.5"
              style="margin-bottom: -5px; enable-background:new 0 0 300 126.5;" xml:space="preserve">
              <path class="u-fill-danger" opacity=".6" d="M0,58.9c0-0.9,5.1-2,5.8-2.2c6-0.8,11.8,2.2,17.2,4.6c4.5,2.1,8.6,5.3,13.3,7.1C48.2,73.3,61,73.8,73,69
                c43-16.9,40-7.9,84-2.2c44,5.7,83-31.5,143-10.1v69.8H0C0,126.5,0,59,0,58.9z" />
              <path class="u-fill-primary" d="M300,68.5v58H0v-58c0,0,43-16.7,82,5.6c12.4,7.1,26.5,9.6,40.2,5.9c7.5-2.1,14.5-6.1,20.9-11
                c6.2-4.7,12-10.4,18.8-13.8c7.3-3.8,15.6-5.2,23.6-5.2c16.1,0.1,30.7,8.2,45,16.1c13.4,7.4,28.1,12.2,43.3,11.2
                C282.5,76.7,292.7,74.4,300,68.5z" />
              <circle class="u-fill-danger" cx="259.5" cy="17" r="13" />
              <circle class="u-fill-primary" cx="290" cy="35.5" r="8.5" />
              <circle class="u-fill-success" cx="288" cy="5.5" r="5.5" />
              <circle class="u-fill-warning" cx="232.5" cy="34" r="2" />
            </svg>
          </div>
          <!-- End SVG Background Shape -->
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <!-- End Account Sidebar Navigation -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400"
    data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="/themes/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/themes/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/themes/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/themes/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/themes/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/themes/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/themes/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/themes/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

  <!-- JS Front -->
  <script src="/themes/js/hs.core.js"></script>
  <script src="/themes/js/components/hs.header.js"></script>
  <script src="/themes/js/components/hs.unfold.js"></script>
  <script src="/themes/js/components/hs.malihu-scrollbar.js"></script>
  <script src="/themes/js/components/hs.validation.js"></script>
  <script src="/themes/js/helpers/hs.focus-state.js"></script>
  <script src="/themes/js/components/hs.show-animation.js"></script>
  <script src="/themes/js/components/hs.cubeportfolio.js"></script>
  <script src="/themes/js/components/hs.go-to.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 768,
        hideTimeOut: 0
      });
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#password'
          }
        }
      });

      // initialization of forms
      $.HSCore.helpers.HSFocusState.init();

      // initialization of cubeportfolio
      $.HSCore.components.HSCubeportfolio.init('.cbp');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
</body>

</html>